name: Frontend CI → Docker Hub → GitOps

on:
  push:
    branches:
      - main

jobs:
  build-push-update:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout Frontend Repo
    - name: Checkout frontend repo
      uses: actions/checkout@v4

    # 2️⃣ Setup QEMU (multi-arch)
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3

    # 3️⃣ Setup Docker Buildx
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 4️⃣ Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 5️⃣ Build & Push Frontend Image
    - name: Build & push frontend image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          21deepak/auth-frontend:${{ github.sha }}
          21deepak/auth-frontend:latest

    # 6️⃣ Clone GitOps Repo
    - name: Clone GitOps repo
      run: |
        git clone https://${{ secrets.GITOPS_PAT }}@github.com/pratikdawane/Auth-Devops-.git

    # 7️⃣ Update image tag in frontend deployment
    - name: Update frontend image tag
      run: |
        cd Auth-Devops-

        IMAGE=21deepak/auth-frontend:${{ github.sha }}
        FILE=applications/frontend-auth/auth-frontend-deployment.yml

        echo "Updating image to $IMAGE"
        sed -i "s|^\([[:space:]]*image:\).*|\1 $IMAGE|" $FILE

        echo "Updated file:"
        cat $FILE

    # 8️⃣ Commit & Push GitOps change
    - name: Commit & push GitOps update
      run: |
        cd Auth-Devops-

        git config user.name "github-actions"
        git config user.email "github-actions@github.com"

        if git diff --quiet; then
          echo "No changes detected. Skipping commit."
          exit 0
        fi

        git add applications/frontend-auth/auth-frontend-deployment.yml
        git commit -m "Update frontend image to ${{ github.sha }}"
        git push origin main
